# Carpetas de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos de Git
.gitignore

# Carpetas y archivos de IDEs
.vscode/
.idea/

# Archivos temporales
*.swp
*.swo
*.bak
*.tmp

# Archivos del host de Windows
desktop.ini
